
RefactoringMiner-1.0.0/src-test/org/refactoringminer/test/UpdateDb.java
*.class
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/gradle.xml
.idea/**/libraries
out/
*/.idea/*
.gradle
/build/
RefDiff1.0/

GumTree2.1.2/.DS_Store

RefDiff2x/refdiff-java/test-data/.DS_Store

RefDiff2x/refdiff-java/.DS_Store

RefDiff2x/.DS_Store

GumTree2.1.2/src/com/.DS_Store
